@charset "utf-8";
@import "reset.css";

.row { max-width:1167px; margin:0 auto;}

#header {position: fixed; width: 100%; top: 0; left: 0; z-index: 99999;
    background: #fff; box-shadow: 0px 3px 3px #eee;}

.topmenu .row { position: relative;} /* login에서 absolute 하였기에 부모 속성에서 설정 */

.topmenu { background:#f76f6f; /* sns, login 같은정보는 상위에 공통 표기*/
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 0; letter-spacing: -0.5px;}
.topmenu a {transition: all 0.5s}
.topmenu a:hover {color: rgba(255, 255, 255, 1);}
.topmenu .sns a{ padding-right: 10px; font-size: 12.2px;} /*우측여백, 아이콘크기*/
.topmenu .sns a:first-child span{ font-size: 11px} /*전화번호 크기 */
.topmenu .login { position: absolute;  right: 0; top: 0; color: #000;} /*부모 위치(row)에서 relative 설정*/
.topmenu .login a {padding-left: 10px; font-size: 11px;} /*좌측여백*/
.logoNav {position: relative; height: 76px;}
.logoNav h1 { color: #ffae3d; font-size: 26.25px; line-height: 76px;  /*박스높이와 같게 부모와 같은 높이로 설정*/
    font-weight:bold;}

.logoNav .nav { position: absolute; right: 0; top: 0;}
.logoNav .nav .depth1 > li {display: inline-block;
    font-size: 15.75px; line-height: 76px; 
    padding-left: 30px; font-weight: bold; position: relative;
    transition: all 0.5s;}
.logoNav .nav .depth1 > li:hover {color: #ffd23c;} 
.logoNav .nav .depth1 > li:first-child {color: #ffd23c;}
.logoNav .nav .depth1 > li > a::after { content: '\f107'; font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* 웹폰트 사용시 content에 역슬래쉬 \(엔터위 원화키)뒤 코드값 자세한설명 : 카페글 */
    color: #ddd; padding-left: 10px;}
.logoNav .nav .depth1 > li:first-child > a::after,
.logoNav .nav .depth1 > li:nth-child(5) > a::after {visibility: hidden;}

.logoNav .depth2 {position: absolute; top: 85%; left: 0;
    width: 168px; background: #fff; 
    border-radius: 5px; padding: 0 15px;
    box-shadow: 0px 0px 15px #ddd; display: none;}
.logoNav .depth2:before { content: '';
    position: absolute; bottom: 100%; left: 0;
    border-bottom: 10px solid #fff; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;}    /* 삼각형 만들기 */
    
.logoNav .depth1 > li:hover .depth2 {display: block;} /*위 display:none을 block */

.logoNav .depth2 > li {line-height: 38px; 
    font-size: 16px; color: #ffae3d;}

#section {padding-top: 117px;}

.slideOuter { height: 600px; overflow: hidden; position: relative;}
.slideOuter .arr {position: absolute; top: 50%;
    transform: translateY(-50%);
    font: 80px; color: #fff;}
.slideOuter .prev {left: 100px;}
.slideOuter .next {right: 100px;}
.slideOuter .dotBox {
    position: absolute; bottom: 20px;
    left: 50%; 
    transform: translateX(-50%);
}
.slideOuter .dotBox a {display: inline-block; /*인라인이 들어가야 높이를 줄수있다 */
    width: 15px; height: 15px;
    background: #fff;
    opacity: 0.5; /* display:none or hidden은 문자값으로 안보이게함 but 숫자값이라 투명도 조절가능 */
    border-radius: 50%;} 
.slideOuter .dotBox a.active {
        opacity: 1;}    

.slideInner > div {height: 600px; /* 모니터 기본 높이는 768px이므로 헤더부분을 제외한 부분을 높이설정, 높이없을경우 글자에 따라서 설정됨*/
    background-size: cover;  /* 이미지가 클 경우 설정된 사이즈를 넘어가게 되어 상기 600px에 맞춰 잘리지 않고 채울수 있게 cover */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;} /* .text에 absolute붙어 relative 입력 */
.slideInner > div:before {content: '';
    position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.3);} /* 같은것 그대로 겹치게 만들기. div:after일 경우 .text에서 z-index 표기 */
.slideInner > div:first-child {background-image: url(../images/slide1.jpg);} /*이미지에 대한 url 경로만 표기할시 - 사용 (background-image) */
.slideInner > div:last-child {background-image: url(../images/slide2.jpg);}
.slideInner > div > .text {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); /*부모 정중앙에 위치 공식 */
    text-align: center; color: #fff;}

.slideInner .text > p:first-child { font-size: 70px; text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5); }
.slideInner .text > p:nth-child(2) { 
    font-size: 19.25px; 
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 20px 0px 30px; }
.slideInner .text > p:nth-child(3) > a {display: inline-block; 
    padding: 14px 28px; font-size: 14px; 
    border-radius: 4px;}
.slideInner .text > p:nth-child(3) > a:nth-child(1) {color: #fff; background: rgba(0, 0, 0, 0.5);}
.slideInner .text > p:nth-child(3) > a:nth-child(2) {color: #000; background: rgba(255,255,255, 0.5);}

.slideInner .text > p:nth-child(3) > a:nth-child(1):hover {background: #ffd23c;}
.slideInner .text > p:nth-child(3) > a:nth-child(2):hover {color: #fff ;}

#section .title h2 {font-size: 28px; color: #222; 
    margin: 20px 0 20px; text-align: center;
    font-weight: bold;}
#section .title p {font-size: 14px; color: #333;
    margin-bottom: 56px;
    padding-bottom: 25px;
    text-align: center;
    position: relative;}
#section .title p :after {content: ''; width: 100px; /* after : 선을 아래쪽에 위치. before:선을 위쪽에 위치 */
    height: 2px; background: #f77070;
    position: absolute; bottom: 0; left: 50%; margin-left: -50px;}

#section .title p strong {font-weight: bold;}


.act {padding: 80px 0;}

.act ul li { float:left; width:24%; 
    background-size: auto;
    background-repeat: no-repeat; 
    height: 186px; margin: 0 0.5%;
    position: relative;}


.act ul li:nth-child(1) {background-image: url(../images/main-business1.min.jpg);}
.act ul li:nth-child(1):before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(48, 120, 210, 0.5);}

.act ul li:nth-child(2) {background-image: url(../images/main-business2.min.jpg);}
.act ul li:nth-child(2):before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255 , 174, 61, 0.6);}

.act ul li:nth-child(3) {background-image: url(../images/main-business3.min.jpg);}
.act ul li:nth-child(3):before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(48, 205, 210, 0.5);}
    
.act ul li:nth-child(4) {background-image: url(../images/main-business4.min.jpg);}
.act ul li:nth-child(4):before {content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(247, 111, 111, 0.5);}

.act ul li div { position: absolute; top: 10px; left: 20px;
    right: 20px; bottom: 10px; color: #fff;}
.act ul li div h3 {margin: 10px 0;
    font-size: 19.25px; font-weight: bold;}
.act ul li div p {font-size: 14px; margin: 15px 0;
    line-height: 1.5;}
.act ul li div a {padding: 5px 20px;
    font-size: 12px; line-height: 1.5;
    border-radius: 3px; color: #f8f9fa;
    border: 1px solid #f8f9fa;
    letter-spacing: 0.5px;
    transition: all 0.5s;} /*hover 했을때 모든 옵션에 걸쳐 걸리는 시간 설정 */
    
.act ul li div a:hover {color: #212529; background: #f8f9fa;}    

.curriInfo {padding: 84px 0;}

.curriBox > .column { float:left; width:31.66% } /*100% - {(margin2% * 2) / 3} */ 
.curriBox > .column:nth-child(2) {margin: 0 2.5%; position: relative;} /* 부모 넓이를 %로 했으면 하위도 %로 설정 */
.curriBox > .column:first-child > div:first-child, 
.curriBox > .column:nth-child(3) > div:first-child {margin-bottom: 15.5px;}
.curriBox >.column > div {position: relative; } 
.curriBox .overlay { position: absolute; overflow: hidden; /*overflow는 이미지 아래 커서를 위치해도 hover 기능이 나오기때문에 방지하기 위함 */
    top: 0; left: 0; right: 0; bottom: 0;   /*부모와 같은 크기 */
    background: -webkit-linear-gradient( left top,#ffd23c, #ffae3d);  /* webkit은 출발지 기준 */
    background: -moz-linear-gradient( right bottom,#ffd23c, #ffae3d);
    background: -o-linear-gradient( right bottom, #ffd23c, #ffae3d);   /*  접두어 -webkit, moz, o- 입력시 to 없음  */
    background: linear-gradient(to right bottom, #ffd23c, #ffae3d); /*표준 문법을 가장 나중에 표기 */
    opacity: 0 ;    /*투명도*/
    transition: all 0.5s; } /* transition은 호버 상위에 */
.curriBox .column > div:hover .overlay {opacity: 0.8;} /*호버시에는 부모 지정 */
.curriBox .copy {position: absolute; bottom: -20px; left: 20px; right: 20px;  /*부모속성에 이미 position을 가지고있으면 굳이 relative 불필요. position 속성만 가지고있으면 된다 */
    color:#fff ;
    transition: all 0.5s;}
.curriBox .column > div:hover .copy { bottom: 0px;}

.curriBox .copy h3 {font-size: 24.5px; margin-bottom: 10px; font-weight: bold;}
.curriBox .copy p {font-size: 14px; margin: 15px 0; line-height: 1.5; font-weight: bold;}

.review { background:#fdeace ; padding: 84px 0;}
.review ul li { float:left; width:31.66%; }
.review ul li:nth-child(2) {margin: 0 2.5%;}
.review ul li >div {position: relative;}
.review .quote {font-size: 30px; color: #fff;
    width: 56px; height: 56px; background: #ffae3d; border-radius: 50%; 
    text-align: center; line-height: 56px; position: absolute; /*height 있을시 세로정렬: line-height */
    top: -28px; left: 10px;  z-index: 99999; 
    }
.review .blockQuote {background: #fff; font-size: 17.5px; padding: 40px;
    border-radius: 4px; font-style: italic;
    line-height: 1.5; position: relative;
    margin-bottom: 20px;}
.review .blockQuote:after {content: '';  /*삼각형*/
    position: absolute; 
    top: 100%; left: 40px;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent; /*좌우를 투명으로 한다 */
    border-right: 15px solid transparent;
    /* border-bottom: 15px solid pink; bottom만 없앤다*/
    } 
.review .client {padding: 0 20px; font-size: 20px;
    font-weight: bold; letter-spacing: 1px;}
.review .client p:nth-child(1) {color: #ffae3d;}
.review .client a {color: #f76f6f;}
.review .client p:nth-child(2) {color: #fff;}

.bestChoice {background: url(../images/main-bottomBanner.min.jpg) no-repeat; 
    background-size: cover; height: 160px;
    line-height: 160px;
    background-attachment: fixed;
    background-position: center;
    font-size: 19.25px; color: #fff;
    text-align: center;
    font-weight: bold; position: relative;}
.bestChoice .overlay {
    position: absolute; 
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.4);}

.bestChoice .row {position: relative;} /*position 속성이 필요할때 relative */

.csNnotice { background:#f5f5f5 ; padding: 84px 0;
    color: #333;}
.csNnotice > .row > div { 
    float:left; width:31.66%;}
.csNnotice > .row > div:nth-child(2){margin: 0 2.5%;}
.csNnotice h2{ font-size: 21px; color: #222;
    letter-spacing: -1px; font-weight: bold;
    border-bottom: 2px solid #383d41;
    padding-bottom: 5px; margin-bottom: 10px;} /*선*/
.csNnotice .cscenter p:nth-child(1),
.csNnotice .cscenter p:nth-child(2) {
    font-size: 19.25px; font-weight: bold;
}
.csNnotice .cscenter p:nth-child(3),
.csNnotice .cscenter p:nth-child(4) {font-size: 14px; line-height: 1.5;}

.csNnotice .consult {font-size: 14px; line-height: 1.5;}
.csNnotice .consult a {display: block; /* a는 블락요소를 주고 width를 준다 */
    padding: 10px 20px; color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 133px; text-align: center;
    margin-top: 10px; border-radius: 4px;}

.csNnotice .notice li {padding: 2px;}   
.csNnotice .notice a {font-size: 14px;}
.csNnotice .notice a:before {content: 'ㆍ';}
.csNnotice .notice a:after {content: 'NEW';
    font-size: 10px; color: #ff0;
    font-weight: bold;}
.csNnotice .notice+.more {
    position: absolute; top: 0; right: 0;
    padding: 5px 10px; color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 12px; border-radius: 4px;}
.csNnotice .row > div:nth-child(3) {position: relative;}

#footer { text-align:center; font-size: 12.25px; }    
.footerMenu { background:#eee; color: #333; padding: 10px; }
.footerMenu a {padding-left: 11px;}
.footerMenu a:before {content: '|'; padding-right: 11px;
    font-size: 6px; position: relative; top: -1px;}
.footerMenu a:first-child:before {display: none;} /*첫번째 a 앞에 | 없애기 */

.comInfo { background:#222;
    color: rgba(255, 255, 255, 0.5);
    padding: 40px 0;}
.comInfo .sns a {font-size: 17px; padding: 0px 10px 10px;
    display: inline-block;}
.comInfo .comInfo span {letter-spacing: -1px; padding-left: 5px;}   
.comInfo .info span:before { content: '|'; padding-right: 7px; font-size: 6px;
    position: relative; top: -1px;} /*혼자 독자적으로 움직이고 싶을때 */

.copyright { background:#0a0a0a;
    font-size: 10.5px; padding: 10px 0px; color: #333; }
