@charset "utf-8";
@import "reset.css";
@import "common.css";
@import "rwdcommon.css";

/* ::placeholder { color:pink } */
#join_page { padding:217px 0 100px }
#join_page h2 { text-align:center; font-size:30px;
    padding-bottom:30px }
.join_form .info_pilsoo { padding-left:20px; padding-bottom:10px; border-bottom:2px solid #000; font-size:15px; color:#f00; }    
.join_form .pilsoo_item { position:relative }
.join_form .pilsoo_item:before {content:"*"; position:absolute; left:5px; top:3px; width:15px; 
    font-weight:bold; font-size:17px; color:#f00; }    

.join_form .info_list {padding:10px 0; border-bottom:1px solid #ccc;}
.join_form .info_list li {padding:8px 0}
.join_form .tit_lbl { display:inline-block; width:20%; line-height:45px; 
    font-weight:bold; font-size:17px; letter-spacing: -2px; padding-left:20px;  }

.join_form .info_content { display:inline-block; width:79%; vertical-align:top }
.join_form .info_content input[type=text],
.join_form .info_content input[type=password],
.join_form .info_content input[type=date],
.join_form .info_content select { height:45px; border: 1px solid #ccc; padding:0 1em; vertical-align:top;  }
.join_form .info_content select {
    -webkit-appearance: none;
    background: transparent;
    position: relative;
    z-index: 999;
 }
 .join_form .info_content select::-ms-expand{display: none;}
 .join_form .info_content .email_box {position: relative;}
 .join_form .info_content .email_box::after {
     content: '\f0dd';
     font-family: 'font Awesome 5 Free';
     font-weight: 900;
     color: red;
     line-height: 45px; display: inline-block;
     transform: translateX(-30px);
     }
.join_form .w320 { width:320px }
.join_form .w160 { width:160px }
.join_form .info_content span { line-height:45px; }
.join_form .w70p { width:70% }
.join_form .mb3 { margin:0px 0 5px}
.join_form .info_content button { height:45px; width:80px; border:1px solid #ccc; border-radius:5px }
.join_form .info_content button:hover { cursor:pointer; background:#ddd }
.join_form .ymd span { margin-right: 20px;}

.join_form .gender_area label { line-height:45px; padding-right:15px  }
/* .join_form .gender_area label::before { 
    content: '\f058'; font-family: 'font Awesome 5 Free'; 
    font-weight: 400; color: #ddd;
    padding-right: 8px;}
.join_form .gender_area input[type=radio]:checked + label::before {       선택했을시 변화설정
    font-weight: 900; color: green;
    }    content, font-family, padding-right는 상기와 중복으로 삭제함 */

/* .join_form .hobby_area label::before { display: inline-block;     label은 inline 성격이므로 transform이 불가하여 display:inline-block추가 
    transform: scale(2);
    content: '\f0c8'; font-family: 'font Awesome 5 Free'; 
    font-weight: 400; color: #ddd;
    padding-right: 8px
}
.join_form .hobby_area input[type=checkbox]:checked + label::before {
    content: '\f14a';  
    font-weight: 900; color: blue;
   } */

.join_form .gender_area label::before { 
    content: ''; 
    display: inline-block;
    margin-right: 8px;
    width: 20px; height: 20px;
    background-image: url(../images/sprite_img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -296px -258px ;
    position: relative; top: 5px;
}
.join_form .gender_area input[type=radio]:checked + label::before {
    background-position: -296px -186px ;
    }

.join_form .hobby_area label::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 20px; height: 20px;
    background-image: url(../images/sprite_img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -296px -114px ;      /* 이미지내의 좌표값*/
    position: relative; top: 5px;                 /* 아이콘 위치조정 : 주변 영향없이 해당개체만 이동원할시 relative */         
    transform: scale(1.2);}            /* 아이콘 크기조정 */
.join_form .hobby_area input[type=checkbox]:checked + label::before {
    background-position: -138px -182px 
}

.join_form .hobby_area label { line-height:45px; padding-right:15px  }
.join_form .gender_area input[type=radio] {display: none;} /*버튼 크기조정 */
.join_form .hobby_area input[type=checkbox] {display: none;}
.join_form .info_content textarea {
    height: 245px; width:70%;
    border:1px solid #ccc; 
    /* textarea는 글꼴 관련 스타일을 상위태그에서 상속받지 못함 */
    font-size: 15px; letter-spacing: -1px;
    color: #444; padding: 10px; line-height: 1.5;
    resize:none; }
.join_form .btn { margin-top:20px; text-align:center }    
.join_form .btn input { width:80px; height:40px; 
    background:#000; color:#fff; 
    border:none; border-radius:5px; 
    font-size:18px; margin:0 20px }
.join_form .btn input[type=submit] {
    background:red }

.join_form .ml10 {margin-left: 10px;}


